.new-container {
    background-color: hsl(240, 100%, 5%);
    padding: 2rem;
    margin-top: 3rem;
}

.new-titile {
    color: hsl(35, 77%, 62%);
}

.news-title {
    color: #FFF;
}

.news-title:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}

p {
    color: hsl(233, 8%, 79%);
}