.header {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.nav-list {
    margin-left: auto;
}

.link-list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    gap: 3rem;
}

@media screen and (max-width: 600px) {
    .nav-list {
        
    }

    .link-list {
        display: block;
        height: 1.7rem;
        overflow: hidden;
    }

    .logo {
        float: left;
        margin-right: auto;
    }
}