.header {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.nav-list {
    margin-left: auto;
}

.link-list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    gap: 3rem;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 600px) {
    /* .menu-icon {
        display: inline;
        float: right;
        margin-left: auto;
    } */

    .menu-icon {
        display: inline;
    }
    .nav-list {
        position: relative;
        display: inline-block;
    }

    .link-list ul li {
        background-color: red;
    }

    .link-list {
        display: block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        right: 3rem;
        width: 70%;
        height: 100%;
        background-color: #FFF;
        padding: 15px;
        z-index: 9;
    }

    .nav-list:hover .dropdown-content {
        display: block;
    }

    .logo {
        float: left;
        margin-right: auto;
    }
}