.header {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.nav-list {
    margin-left: auto;
}

.link-list {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    gap: 3rem;
}

.link-list a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
}

.link-list a:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 600px) {
    /* .menu-icon {
        display: inline;
        float: right;
        margin-left: auto;
    } */

    .menu-icon {
        display: inline;
        cursor: pointer;
    }
    .nav-list {
        position: relative;
        display: inline-block;
    }

    .link-list {
        display: flex;
        flex-direction: column;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        right: -1rem;
        top: 3rem;
        width: 20rem;
        height: 100rem;
        background-color: #FFF;
        padding: 15px;
        z-index: 9;
    }

    .nav-list:hover .dropdown-content {
        display: block;
    }

    .logo {
        float: left;
        margin-right: auto;
    }
}