.App {
  width: 70%;
  margin: auto;
  object-fit: contain;
}

.container {
  display: grid;
  grid-template-columns: 68% 32%;
  grid-gap: 2rem;
  margin-bottom: 5rem;
}

.bottom-articles {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  main {
    margin: auto;
  }
  .App {
    width: 90%;
    margin-right: 2rem;
    margin-left: 0.6rem;
  }
  /* .nav {
      display: none;
  } */

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottom-articles {
    display: flex;
    flex-direction: column;
  }
  
}